.error-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
  font-size: 8em;
  color: #dc3545;
  margin-bottom: 0;
}

h2 {
  font-size: 2.5em;
  color: #6c757d;
  margin-bottom: 30px;
}

.error-details {
  font-size: 1.2em;
  color: #6c757d;
}

.error-actions {
  margin-top: 30px;
  margin-bottom: 30px;
}